# for data science
numpy
pandas
sklearn
scipy
sympy
tqdm
matplotlib
seaborn
plotly
pandasgui
scikit-optimize
optuna

# for experiment management
mlflow
tensorboard
tensorboardX
python-dateutil==2.8.0


# for sqa
pudb
pylint
flake8
black
coverage
pytest
pytest-flake8
pytest-cov
pytest-xdist
pytest-html
docutils==0.15
Sphinx

# other tools
omegaconf
notebook
python-dotenv

# for project
fastapi
aiofiles
uvicorn
torch
torchvision
torchtext
pytorch-forecasting
fastparquet
python-snappy
pyro-ppl
